@import url("https://fonts.googleapis.com/css?family=Righteous");
.head {
  width: calc(100% + 16px);
  height: 50vh;
  margin-left: -8px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: inset 0 -7px 10px -7px rgba(0, 0, 0, 0.8);
  background: white;
  overflow: hidden;
  z-index: 1; }
  .head video, .head canvas, .head img {
    z-index: 0;
    width: calc(100% - calc(8px * 2));
    margin-left: 8px;
    height: calc(100% - 8px);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    object-fit: fill; }
  .head img {
    z-index: -1 !important; }
  @media (orientation: portrait) {
    .head {
      height: min(calc(100% - 50vh), 40%); } }

.content {
  height: 50vh;
  width: 100%;
  padding: 20px;
  display: inline-block; }
  .content .background {
    position: absolute;
    z-index: -1;
    background-image: url("../media/landscape_full.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100vh;
    max-height: 1200px;
    width: 100vw; }
  .content .container {
    padding: 20px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 8px 50px 50px 8px;
    max-width: 80vw;
    display: inline-flex;
    font-family: 'Teko', sans-serif; }
    @media (orientation: landscape) {
      .content .container .title {
        font-size: min(6.5vw, 35vh);
        line-height: calc(min(6.5vw, 35vh) - 0.7vw);
        user-select: none; }
        .content .container .title .title__text {
          display: inline-block;
          text-shadow: calc(min(6.5vw, 35vh) / 30) calc(min(6.5vw, 35vh) / 20) rgba(0, 0, 0, 0.8);
          padding: 5px calc(min(6.5vw, 35vh)/2 - 0.7vw) 0;
          border-radius: 10px !important; }
          .content .container .title .title__text--main {
            text-shadow: calc(min(6.5vw, 35vh) / 22.5) calc(min(6.5vw, 35vh) / 25) rgba(0, 0, 0, 0.75); } }
    @media (orientation: portrait) {
      .content .container .title {
        font-size: min(6.5vh, 90vw);
        line-height: calc(min(6.5vh, 90vw) - 0.7vh);
        user-select: none; }
        .content .container .title .title__text {
          text-shadow: calc(min(6.5vh, 90vw) / 30) calc(min(6.5vh, 90vw) / 20) rgba(0, 0, 0, 0.8); }
          .content .container .title .title__text--main {
            text-shadow: calc(min(6.5vh, 90vw) / 22.5) calc(min(6.5vh, 90vw) / 25) rgba(0, 0, 0, 0.75); } }

.socials {
  position: fixed;
  right: 0;
  top: calc(100vh - 160px);
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px; }
  .socials .button {
    cursor: pointer;
    color: #f30;
    display: block;
    align-items: flex-start;
    text-transform: uppercase;
    position: relative;
    transition: transform 0.3s;
    height: 55%;
    margin-top: calc(45% - 10px); }
    .socials .button span {
      display: block;
      width: 3em;
      opacity: 0;
      transition: opacity 0.3s 0s;
      padding: 5px 0.5em;
      font-family: Righteous, serif; }
    .socials .button:hover span {
      opacity: 1;
      transition: opacity 0.3s 0.1s; }
    .socials .button:before {
      content: '';
      display: block;
      border: solid #f30;
      border-width: 4px 4px 0 0;
      position: absolute;
      top: 4px;
      width: 20px;
      height: 20px; }
    .socials .button.arrow {
      text-align: right;
      z-index: 2; }
    .socials .button.arrow:before {
      left: 0;
      transform: rotate(45deg);
      transition: left 0.3s 0.2s; }
    .socials .button.arrow:hover:before {
      left: 100%;
      transition: left 0.3s; }
    .socials .button:hover {
      transform: none; }

* {
  padding: 0;
  margin: 0; }

html, body {
  scroll-behavior: smooth; }

body {
  overflow: hidden; }

.app {
  padding: 0;
  width: 100%; }
