$header_padding: 8px;
$header-height: 60vh;

.head {
  width: calc(100% + #{$header_padding * 2});
  height: $header-height;
  margin-left: #{$header_padding * -1};
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: inset 0 -7px 10px -7px rgba(0, 0, 0, 0.8);
  background: white;
  overflow: hidden;
  z-index: 1;

  video, canvas, img {
    z-index: 0;
    width: calc(100% - calc(var(--header-padding) * 2));
    margin-left: var(--header-padding);
    height: calc(100% - var(--header-padding));
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    object-fit: fill;
  }

  img {
    z-index: -1 !important;
  }

  @media (orientation: portrait) {
    height: unquote("min(calc(100% - #{$header-height}), 40%)");
  }
}