$size: 80px;

.socials {
  position: fixed;
  right: 0;
  top: calc(100vh - #{$size * 2});
  width: $size;
  height: $size;
  background: rgba($main-color, 0.25);

  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;

  span {
    position: relative;
    z-index: 1;
  }
}