@import "colors";
@import url('https://fonts.googleapis.com/css?family=Righteous');

$no_of_icons: 4;
$right-padding: 40px;
$box-size: 60px + $right-padding;

$transition-length: 40ms * $no_of_icons;

.socials {
  $background-color: rgba($main-color, 0.5);
  position: fixed;
  right: 0;
  top: calc(100vh - #{$box-size * 2});
  width: $box-size;
  height: $box-size;
  background: $background-color;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;

  transition: width $transition-length ease-out;

  .button {
    $size: $right-padding;
    $width: 4px;
    $padding-top: round(($box-size / 2) - ($size / 1.5) + 4px);

    cursor: pointer;
    color: $button-color;
    display: block;
    align-items: flex-start;
    text-transform: uppercase;
    position: absolute;
    transition: transform 0.3s;
    height: round($box-size - (($box-size / 1.75) - $size));
    padding-top: $padding-top;
    right: $right-padding;

    span {
      display: block;
      width: 3em;
      opacity: 0;
      transition: opacity 0.3s 0s;
      padding: $size / 4 0.5em;
      font-family: Righteous, serif;
    }

    span:before {
      content: attr(data-text);
    }

    &:hover span {
      opacity: 1;
      transition: opacity 0.3s 0.1s;
    }

    &:before {
      content: '';
      display: block;
      border: solid $button-color;
      border-width: $width $width 0 0;
      position: absolute;
      top: $padding-top;
      width: $size;
      height: $size;
    }

    &.arrow {
      text-align: right;
      z-index: 2;
    }

    &.arrow:before {
      left: 0;
      transform: rotate(45deg);
      transition: left 0.3s 0.2s;
    }

    &.arrow:hover:before {
      left: 100%;
      transition: left 0.3s;
    }

    &:hover {
      transform: none;
    }
  }

  .social-icons {
    position: absolute;
    right: $box-size;
    height: $box-size;
    width: $box-size * $no_of_icons;
    display: none;
    @for $i from 1 through $no_of_icons {
      @debug $i;

      &:nth-child(#{$no_of_icons}n + #{$i}) {
        visibility: hidden;
        transition: visibility #{($transition-length + (40ms * $i))} ease-out !important;
      }
    }
    a {
      margin: auto;
      img {
        width: $box-size / 2;
        height: $box-size / 2;
      }
    }
  }
}

.expanded-icons {
  width: $box-size * ($no_of_icons + 1) !important;
  transition: width $transition-length ease-in;
  .button {
    span:before{
      content: "";
    }
    span:after{
      content: attr(data-alttext);
    }
  }

  .social-icons {
    display: inline-flex;
    @for $i from 1 through $no_of_icons {
      &:nth-child(#{$no_of_icons}n + #{$i}) {
        visibility: visible;
        transition: visibility #{($transition-length + (40ms * $i))} ease-in !important;
      }
    }
  }
}