@import "content";
@import "header";
@import "utility-classes";

$main-color: white;
$accent-color: #496AA8;

* {
  padding: 0;
  margin: 0;
}

html, body {
  scroll-behavior: smooth;
  font-family: 'Teko', sans-serif;
}

body {
  overflow-x: hidden;
}

.app {
  top: 0;
  padding: 0;
  background: $main-color;
}