@import "header";
@import "content";
@import "socials";

$main-color: white;
$accent-color: #496AA8;

* {
  padding: 0;
  margin: 0;
}

html, body {
  scroll-behavior: smooth;
  font-family: 'Teko', sans-serif;
}

body {
  overflow: hidden;
}

.app {
  padding: 0;
  width: 100%;
}